/*********** dimensions **************/
.min-w-\[100vw\] {
    min-width: 100vw;
}


@media (min-width: 768px) {
    .md\:w-\[30rem\] {
        width: 30rem;
    }
}

@media (min-width: 768px) {
    .md\:w-\[35rem\] {
        width: 35rem;
    }
}

@media (min-width: 768px) {
    .md\:w-\[25rem\] {
        width: 25rem;
    }
}

@media (min-width: 576px) {
    .sm\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (min-width: 576px) {
    .sm\:px-24 {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media (min-width: 576px) {
    .sm\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/************* colors **************/
.text-muted-color {
    color: #64748b;
}

.text-primary {
    color: var(--color-primary);
}

.bg-surface-0 {
    background-color: 
 color-mix(in srgb, #ffffff calc(100%), transparent);
}

.text-surface-900 {
    color: 
 color-mix(in srgb, #0f172a calc(100%), transparent);
}

.text-surface-300 {
    color: 
 color-mix(in srgb, var(--p-surface-300) calc(100%), transparent);
}

.shadow {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a,0 1px 2px -1px #0000001a;
}





.font-semibold {
    font-weight: 600;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-8 {
    gap: 2rem;
}

.hidden {
    display: none !important;
}

.leading-none {
    line-height: 1;
}

.relative {
    position: relative;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@media (min-width: 768px) {
    .md\:flex-row {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .md\:w-1\/2 {
        width: 50%;
    }
}

.app-brand-text.demo {
    font-size: 1.375rem;
}