.p-password-toggle-mask-icon {
    inset-inline-end: 0.75rem;
    color: #94a3b8;
    position: absolute;
    top: 50%;
    margin-top: calc(-1 * calc(1rem / 2));
    width: 1rem;
    height: 1rem;
}

.p-password {
    display: inline-flex;
    position: relative;
}

.p-password-fluid {
    display: flex;
}

.p-password-fluid .p-password-input {
    width: 100%;
}

.p-checkbox-input {
    cursor: pointer;
    appearance: none;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    outline: 0 none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.p-checkbox {
    position: relative;
    display: inline-flex;
    user-select: none;
    vertical-align: bottom;
    width: 1.25rem;
    height: 1.25rem;
}

.p-checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #cbd5e1;
    background: #ffffff;
    width: 1.25rem;
    height: 1.25rem;
    transition: background 0.2s, 
        color 0.2s, 
        border-color 0.2s, 
        box-shadow 0.2s, 
        outline-color 0.2s;
    outline-color: transparent;
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(18,18,23,0.05);
}

.p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
    border-color: #94a3b8;
}

.p-checkbox:has(.p-checkbox-input:checked:hover) .p-checkbox-box {
    border-color: var(--color-primary-hover);
    background-color: var(--color-primary-hover);
}

.p-checkbox input:checked ~ .p-checkbox-box {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.p-checkbox-icon {
  opacity: 0;
  color: white;
  transition: opacity 0.2s ease;
}

.p-checkbox-input:checked ~ .p-checkbox-box .p-checkbox-icon {
  opacity: 1;
}