.p-password-toggle-mask-icon {
    inset-inline-end: 0.75rem;
    color: #94a3b8;
    position: absolute;
    top: 50%;
    margin-top: calc(-1 * calc(1rem / 2));
    width: 1rem;
    height: 1rem;
}

.p-password {
    display: inline-flex;
    position: relative;
}

.p-password-fluid {
    display: flex;
}

.p-password-fluid .p-password-input {
    width: 100%;
}