:root {
  --spacing: 0.25rem;
}

/***************************************
************** BACKGROUNDS ******************
****************************************/

/*----------- Background color -----------------*/
.bg-transparent { background-color: transparent; }

/***************************************
************** BORDERS ******************
****************************************/

/*----------- Width -----------------*/
.border-0 { border-width: calc(var(--spacing) * 0); }



/***************************************
************ INTERACTIVITY *************
****************************************/

/*----------- Cursor -----------------*/
.cursor-pointer{
    cursor: pointer;
}


/***************************************
************** LAYOUT ******************
****************************************/

/*----------- display -----------------*/
.block { display: block; }
.flex { display: flex; }
.hidden { display: none; }

@media (min-width: 64rem) { /* 64rem = 1024px */
  .lg\:block { display: block; }
  .lg\:flex { display: flex; }
}

/*----------- overflow -----------------*/
.overflow-hidden { overflow: hidden; }

/*----------- position -----------------*/
.sticky { position: sticky; }
.relative { position: relative; }

/*----------- Top/Right/Bottom/Left -----------------*/
/*.top-1 { top: var(--spacing); }*/



/***************************************
************ FLEXBOX & GRID ************
****************************************/

/*---------- Flex direction -------------*/
.flex-col { flex-direction: column; }

/*----------- Align-items -----------------*/
.items-center {
    align-items: center;
}

/* --------------- Gap ------------*/
.gap-1 { gap: calc(var(--spacing) * 1); }
.gap-3 { gap: calc(var(--spacing) * 3); }

@media (min-width: 64rem) { /* 64rem = 1024px */
  .lg\:gap-2 { gap: calc(var(--spacing) * 2); }
}

/*----------- Justify-content -----------------*/
.justify-between {
    justify-content: space-between;
}



/***************************************
************ SIZING ************
****************************************/

/*---------- Height -------------*/
.h-auto { height: auto; }
.h-0 { height: calc(var(--spacing) * 0); }
.h-5 { height: calc(var(--spacing) * 5); }
.h-full { height: 100%; }



/***************************************
*************** SPACING ****************
****************************************/

/*---------------- margin ------------------*/
/*
.mb-1 { margin-bottom: var(--spacing); }
.mb-2 { margin-bottom: calc(var(--spacing) * 2); }
.mb-3 { margin-bottom: calc(var(--spacing) * 3); }*/

.m-0 { margin: calc(var(--spacing) * 0); }

.my-0 { margin-top: calc(var(--spacing) * 0); margin-bottom: calc(var(--spacing) * 0); }

.mx-auto { margin-inline: auto; }



/***************************************
************* TYPOGRAPHY **************
****************************************/

/*----------- vartical-align -----------------*/
.align-middle { vertical-align: middle; }

/*----------- line-height -----------------*/
.leading-\[1\.5rem\] { line-height: 1.5; }

/*----------- font-size -----------------*/
.text-\[0\.9rem\] { font-size: 0.9rem; }