:root {
  --spacing: 0.25rem;
}

/***************************************
************** BACKGROUNDS ******************
****************************************/

/*----------- Background color -----------------*/
.bg-transparent { background-color: transparent; }

/***************************************
************** BORDERS ******************
****************************************/

/*----------- Width -----------------*/
.border-0 { border-width: calc(var(--spacing) * 0); }



/***************************************
************ INTERACTIVITY *************
****************************************/

/*----------- Cursor -----------------*/
.cursor-pointer{
    cursor: pointer;
}


/***************************************
************** LAYOUT ******************
****************************************/

/*----------- Display -----------------*/
.flex { display: flex; }
.hidden { display: none; }

@media (min-width: 64rem) { /* 64rem = 1024px */
  .lg\:block { display: block; }
  .lg\:flex { display: flex; }
}

/*----------- Position -----------------*/
.sticky { position: sticky; }
.relative { position: relative; }

/*----------- Top/Right/Bottom/Left -----------------*/
/*.top-1 { top: var(--spacing); }*/



/***************************************
************ FLEXBOX & GRID ************
****************************************/

/*---------- Flex direction -------------*/
.flex-col { flex-direction: column; }

/*----------- Align-items -----------------*/
.items-center {
    align-items: center;
}

/* --------------- Gap ------------*/
.gap-1 { gap: calc(var(--spacing) * 1); }
.gap-3 { gap: calc(var(--spacing) * 3); }

@media (min-width: 64rem) { /* 64rem = 1024px */
  .lg\:gap-2 { gap: calc(var(--spacing) * 2); }
}

/*----------- Justify-content -----------------*/
.justify-between {
    justify-content: space-between;
}



/***************************************
*************** SPACING ****************
****************************************/

/*---------------- Margin ------------------*/
/*
.mb-1 { margin-bottom: var(--spacing); }
.mb-2 { margin-bottom: calc(var(--spacing) * 2); }
.mb-3 { margin-bottom: calc(var(--spacing) * 3); }*/

.my-0 { margin-top: calc(var(--spacing) * 0); margin-bottom: calc(var(--spacing) * 0); }

.mx-auto {
    margin-inline: auto;
}