/*********** colors *************/
.bg-white {
  background-color: white;
}

/********** constraints ***********/
.mb-2 {
    margin-bottom: .5rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mr-2 {
    margin-right: .5rem;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

.pb-20 {
    padding-bottom: 5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    .lg\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}  

.p-6 {
    padding: 1.5rem;
}

/************* dimensions *********/
.rounded-lg {
    border-radius: 1rem;
}
.min-h-screen {
    min-height: 100vh;
}

.w-full {
    width: 100%;
}
@media (min-width: 992px) {
    .lg\:w-6\/12 {
        width: 50%;
    }
} 

.w-16 {
    width: 4rem;
}

.h-screen {
    height: 100vh;
}

.h-full {
    height: 100%;
}


/******** fonts ******************/
.font-medium {
    font-weight: 500;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

/*********** layout ***************/
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.shrink-0 {
    flex-shrink: 0;
}

.block {
    display: block;
}

.z-10 {
    z-index: 10;
}

/*********** position *************/
.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.fixed {
    position: fixed;
}