:root {
    --color-primary: #0E8660;
    --color-primary-hover: #0C7451;
    --color-secondary: #475569;
    --color-success: #13863F;
    --color-info: #0E7DAF;
    --color-warn: #CB4C0B;
    --color-help: #9F40F7;
    --color-danger: #EA1010;
    --color-contrast: #020617;
    --btn-border-radius: 6px;
    --p-surface-0: white;
    --p-surface-50: #f8fafc;
    --p-surface-300: #cbd5e1;
    --color-text: #334155;
    --element-transition-duration: 0.2s;

    --p-primary-500: #10b981;
    --p-primary-400: #34d399;
    --p-primary-300: #6ee7b7;
    --p-primary-200: #a7f3d0;
    --p-primary-100: #d1fae5;
}