:root {
    --color-primary: #0E8660;
    --color-secondary: #475569;
    --color-success: #13863F;
    --color-info: #0E7DAF;
    --color-warn: #CB4C0B;
    --color-help: #9F40F7;
    --color-danger: #EA1010;
    --color-contrast: #020617;
    --btn-border-radius: 6px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.font-semibold {
    font-weight: 600;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-8 {
    gap: 2rem;
}

.leading-none {
    line-height: 1;
}

.relative {
    position: relative;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@media (min-width: 768px) {
    .md\:flex-row {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .md\:w-1\/2 {
        width: 50%;
    }
}