
.layout-wrapper {
    min-height: 100vh;
}
body {
    font-family: "Lato", sans-serif;
    color: var(--text-color);
    background-color: #f1f5f9;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout-topbar .layout-menu-button {
    margin-right: 0.5rem;
}

.layout-topbar .layout-topbar-action {
    display: inline-flex
;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--text-color);
    transition: background-color var(--element-transition-duration);
    cursor: pointer;
}

button, input:where([type='button']), input:where([type='reset']), input:where([type='submit']) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.layout-topbar .layout-topbar-action i {
    font-size: 1.25rem;
}

.pi {
    font-family: "primeicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout-topbar {
    position: fixed;
    height: 4rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: white;
    display: flex;
    align-items: center;
}
img {
    width: 3rem;
    display: block;
    vertical-align: middle;
}

.layout-topbar .layout-topbar-logo {
    display: inline-flex
;
    align-items: center;
    font-size: 1.5rem;
    border-radius: var(--content-border-radius);
    color: var(--text-color);
    font-weight: 500;
    gap: 0.5rem;
    text-decoration: none;
}

.layout-topbar .layout-topbar-logo-container {
    width: 20rem;
    display: flex
;
    align-items: center;
}

.layout-topbar .layout-topbar-logo svg {
    width: 3rem;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.layout-menu .layout-root-menuitem > .layout-menuitem-root-text {
    font-size: 0.857rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color);
    margin: 0.75rem 0;
}
.layout-menu ul
 {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.layout-menu ul a.active-route {
    font-weight: 600;
    color: var(--primary-color);
}
.layout-menu ul a {
    display: flex;
    align-items: center;
    position: relative;
    outline: 0 none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: var(--content-border-radius);
    transition: background-color var(--element-transition-duration), box-shadow var(--element-transition-duration);
}
a {
    color: inherit;
    text-decoration: inherit;
}
.layout-menu ul a:hover
 {
    background-color: var(--surface-hover);
}
.pi {
    font-family: "primeicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.layout-menu ul a .layout-menuitem-icon {
    margin-right: 0.5rem;
}
.pi {
    font-size: var(--p-icon-size);
}
.pi-fw
 {
    width: 1.28571429em;
    text-align: center;
}

@media (min-width: 992px) {
    .layout-wrapper.layout-static .layout-main-container {
        margin-left: 22rem;
    }
}

.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 0 2rem;
}
.card {
    background: var(--surface-card);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 6px;
}

.font-semibold {
    font-family: sans-serif;
    font-weight: 600;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: sans-serif;
}

.mb-4 {
    margin-bottom: 1rem;
}
.p-datatable-header {
    background: var(--p-datatable-header-background);
    color: var(--p-datatable-header-color);
    border-color: var(--p-datatable-header-border-color);
    border-style: solid;
    padding: var(--p-datatable-header-padding);
}
.p-datatable-gridlines .p-datatable-header
 {
    border-width: 1px 1px 0 1px;
}

.justify-between {
    justify-content: space-between;
}

.btn-primary {
    display: inline-flex;
    background: transparent;
    color: #0E8660;
    font-weight: 500;
    border: 1px solid #0E8660;
    gap: 0.5rem;
    border-radius: 6px;
    padding: 0.5rem 0.75rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    line-height: inherit;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
}
.btn-primary:hover {
    background-color: #ecfdf5;
}

.p-iconfield {
    position: relative;
    min-height: 1px;
}

.p-iconfield .p-inputicon:first-child {
    inset-inline-start: 0.75rem;
}
.p-iconfield .p-inputtext:not(:first-child) {
    padding-inline-start: calc((0.75rem * 2) + 1rem);
}
.p-inputicon {
    position: absolute;
    top: 50%;
    margin-top: calc(-1 * (1rem / 2));
    color: #94a3b8;
    line-height: 1;
}

.p-inputtext {
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 1rem;
    color: #334155;
    background: white;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    border: 1px solid #cbd5e1;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
    appearance: none;
    border-radius: 6px;
    outline-color: transparent;
    min-height: 100%;;
}

.p-datatable-gridlines .p-datatable-thead > tr > th {
    border-width: 1px 0 1px 1px;
}

.p-datatable-header-cell {
    padding: 0.75rem 1rem;
    border-color: #e2e8f0;
    border-style: solid;
    border-width: 0 0 1px 0;
    color: #334155;
    font-weight: normal;
    text-align: start;
}
.p-datatable-table {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
}

.p-inputtext:enabled:hover {
    border-color: #94a3b8;
}

.p-inputtext:enabled:focus {
    border-color: #0E8660;
    outline: 0 none transparent;
    outline-offset: 0;
}

.p-datatable-column-header-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.p-datatable-column-title, .p-datatable-sort-icon, .p-datatable-sort-badge {
    vertical-align: middle;
}

.p-datatable-column-title {
    font-weight: 600;
}
.p-datatable-gridlines .p-datatable-thead > tr > th {
    border-width: 1px 0 1px 1px;
}
.p-datatable-gridlines .p-datatable-thead > tr > th {
    border-width: 1px 0 1px 1px;
}

html {
    height: 100%;
    font-size: 14px;
    line-height: 1.5;
    --p-primary-color: #0E8660;
    --surface-overlay: white;
    --primary-color: #0E8660;
    --surface-hover: #f1f5f9;
    --text-color: #334155;
    --surface-card: white;
    --p-datatable-header-background: white;
    --p-datatable-header-color: #334155;
    --p-datatable-header-border-color: #e2e8f0;
    --p-datatable-header-padding: 0.75rem 1rem;
    --p-button-outlined-primary-border-color: #a7f3d0;
    --p-button-outlined-primary-color: #0E8660;
    --p-button-primary-border-color: var(--p-primary-color);
    --p-button-padding-y: 0.5rem;
    --p-button-padding-x: 0.75rem;
    --p-button-border-radius: 6px;
    --p-button-label-font-weight: 500;
    --p-button-gap: 0.5rem;
    --t-02: 0.2s 
}
.p-datatable-popover-filter {
    display: inline-flex
;
    margin-inline-start: auto;
}
.p-button-text.p-button-secondary {
    background: transparent;
    border-color: transparent;
    color: #64748b;
}
.p-button-icon-only.p-button-rounded {
    border-radius: 50%;
    height: 2.5rem;
}
.p-button-icon-only {
    padding-inline-start: 0;
    padding-inline-end: 0;
    gap: 0;
}

.p-button {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-family: inherit;
    font-feature-settings: inherit;
    transition: background 0.2s, color 0.2s, border-color 0.2s, outline-color 0.2s, box-shadow 0.2s;
    outline-color: transparent;
}

.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody > tr > td {
    border-width: 0 0 1px 1px;
}
.p-datatable-tbody > tr > td {
    text-align: start;
    border-color: #e2e8f0;
    border-style: solid;
    padding: 0.75rem 1rem;
}
table {
    line-height: normal;
}

.p-button-text.p-button-secondary:not(:disabled):hover {
    background: #f8fafc;
    border-color: transparent;
    color: #64748b;
}
.p-icon {
    display: inline-block;
    vertical-align: baseline;
}

.p-icon {
    width: 1rem;
    height: 1rem;
}

.p-button-icon-only .p-button-label {
    visibility: hidden;
    width: 0;
}
.p-datatable-gridlines .p-datatable-paginator-bottom {
    border-width: 0 1px 1px 1px;
}


.p-datatable-paginator-bottom {
    border-color: #e2e8f0;
    border-style: solid;
}
.p-paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #334155;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    gap: 0.25rem;
}
.p-paginator-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25rem;
}
.p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    user-select: none;
    overflow: hidden;
    position: relative;
    border: 0 none;
    color: #64748b;
    min-width: 2.5rem;
    height: 2.5rem;
    transition: background var(--t-02), color var(--t-02), outline-color var(--t-02), box-shadow var(--t-02);
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
.p-disabled, .p-component:disabled {
    opacity: 0.6;
}
.p-disabled, .p-disabled * {
    cursor: default;
    pointer-events: none;
    user-select: none;
}

.p-paginator-page.p-paginator-page-selected {
    background: #ecfdf5;
    color: #047857;
}